*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    text-align: center;
    background-image: url(http://localhost/ventcar/assets/public/img/bg_n.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.bg{
    margin-top: 12%;
    background-color: rgba(240, 248, 255, 0.758);
    border-radius: 50px 0 50px 0;
}

#rueda{
    animation: wheel 3s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#Vector_1,
#Vector_2_2{
    animation: vect 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}

#Vector_3,
#Vector_4,
#Vector_25,
#Vector_26,
#Vector_27,
#Vector_28,
#Vector_29,
#Vector_30,
#Vector_31,
#Vector_32,
#Vector_33,
#Vector_34,
#corche_i,
#corche_d{
    animation: fle_is 1s ease-in-out infinite alternate;
    transform-origin: center;
}

@keyframes wheel{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes vect{
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(20deg);
    }
}

@keyframes fle_is{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(30deg);
    }
}